<div class="container">
<h1>Search for Legislator by State</h1>
<label>Browser Select</label>
	<select class="browser-default" ng-model="state" ng-change="getState(state)">
		<option value="" disabled selected>Select State</option>
		
		<option value="CA">California</option>
		<option value="FL">Florida</option>
		<option value="KY">Vermont</option>
		<option value="VT">Vermont</option>
	</select>

	<h5>Search</h5>
	<input type="text" ng-model="search">

	<div ng-repeat="legislator in stateLegislators | filter:search">
		<div class="bio" ng-click="goToLegislatorPage(legislator)">
			{{legislator['@attributes'].firstlast}} - {{legislator['@attributes'].party}} - {{state}}
			<br>
			<img src="https://theunitedstates.io/images/congress/225x275/{{legislator['@attributes'].bioguide_id}}.jpg">
		</div>
	</div>
</div>