<div>
<h1 style="text-align:center">Corruption in the United States Congress</h1>
</div>

<div class="parallax-container">
      <div class="parallax"><img src="./United_States_Capitol_Building_in_Washington_DC_United_States_of_America_Wallpaper.jpg"></div>
</div>

<div class="row" style="text-align:center">
      <div class="col s4">
      <i class="large material-icons">info</i>
        <h5>Search For Any Active Member of Congress</h5>
        <p>With our advanced look up technology, you can search for any sitting memeber of congress by state, zip code, or by directly searching for them!</p>
      </div>
      <div class="col s4">
      <i class="large material-icons">lock_open</i>
        <h5>Track Where Campaign Contributions Came From</h5>
        <p>All 535 sitting memebers of congress have to disclose where they got the money to finance their campaigns. With this app, you can see exactly where the money came from!</p>
      </div>
      <div class="col s4">
      <i class="large material-icons">visibility</i>
        <h5>See Legislator's Voting History</h5>
        <p>Check to see the correlation of how congressmen vote on issues relating to industries and interest of people/organizations that financed their campaigns!</p>
      </div>

    </div>
    
<style>
.parallax-container {
      height: "100px";
    }
        
</style>

<script>
    $(document).ready(function(){
      $('.parallax').parallax();
    });

</script>