<div>
<h1 style="text-align:center">Track How Politican's Finance Their Campaigns</h1>
</div>

<div class="parallax-container">
      <div class="parallax"><img src="./United_States_Capitol_Building_in_Washington_DC_United_States_of_America_Wallpaper.jpg"></div>
</div>

<div class="row" style="text-align:center">
      <div class="col s4">
      <i class="large material-icons">info</i>
        <h5>Find Any Sitting Congressmen</h5>
        <p>With our advanced look up technology, you can search for any sitting memeber of congress by state, zip code, or by directly searching for them!</p>
      </div>
      <div class="col s4">
      <i class="large material-icons">lock_open</i>
        <h5>See Where The Money is Coming From</h5>
        <p>All memebers of congress must submit where their campaign recieved the funding to win election. Now you can easily see exactly where the money came from!</p>
      </div>
      <div class="col s4">
      <i class="large material-icons">visibility</i>
        <h5>See Legislator's Latest Introduced Bills</h5>
        <p>Track any of the 535 sitting congressmen to see the latest bills they introduced on the senate or house floor!</p>
      </div>

    </div>
    
<style>
.parallax-container {
      height: "100px";
    }
        
</style>

<script>
    $(document).ready(function(){
      $('.parallax').parallax();
    });

</script>