<div class="container">
<h1>Error: something Wrong with Your Login Credentials</h1>
<div style="text-align:center">
	<h4>Sign In</h4>
	<label>Username</label>
	<input type="text" ng-model="username">
	<label>Password</label>
	<input type="password" ng-model="password">
</div>
<div>
    <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="signIn()">Sign In</a>
    <a href="/#/register" class=" modal-action modal-close waves-effect waves-green btn-flat">Sign Up </a>
</div>
</div>